<div class="row p-2">
    <h2>Nueva Persona Juridica</h2>
</div>
<div class="row p-5">
    <form [formGroup]="form" class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label class="form-label" for="names">Nombres</label><br />
                <input class="form-control" type="text" name="names" id="names" formControlName="nombres" />
                <!-- <div *ngIf="form.controls['names'].[invalid] && (form.controls['names'].dirty || form.controls['names'].touched)" class="alert alert-danger">
                    <div *ngIf="form.controls['names'].errors.required">
                    Name is required.
                  </div>
                </div> -->
                <div *ngIf="form.controls['nombres'].invalid && (form.controls['nombres'].dirty || form.controls['nombres'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="form.controls['nombres'].errors">
                        El nombres es requerido.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="firstName">Apellido Paterno</label><br />
                <input class="form-control" type="text" name="firstName" id="firstName"
                    formControlName="primer_apellido" />
                <div *ngIf="form.controls['primer_apellido'].invalid && (form.controls['primer_apellido'].dirty || form.controls['primer_apellido'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="form.controls['primer_apellido'].errors">
                        El apellido paterno es requerido
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <label class="form-label" for="lastName">Apellido Materno</label><br />
                <input class="form-control" type="text" name="lastName" id="lastName"
                    formControlName="segundo_apellido" />
                <div *ngIf="form.controls['segundo_apellido'].invalid && (form.controls['segundo_apellido'].dirty || form.controls['segundo_apellido'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="form.controls['segundo_apellido'].errors">
                        El apellido materno es requerido
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <label class="form-label" for="lastName">Documento de Identidad</label><br />
                <input class="form-control" type="text" name="lastName" id="lastName"
                    formControlName="nro_documento_identidad" />
                <div *ngIf="form.controls['nro_documento_identidad'].invalid && (form.controls['nro_documento_identidad'].dirty || form.controls['nro_documento_identidad'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="form.controls['nro_documento_identidad'].errors">
                        El documento es requerido
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="lastName">Celular</label><br />
                <input class="form-control" type="number" name="lastName" id="lastName" formControlName="celular" />
                <div *ngIf="form.controls['celular'].invalid && (form.controls['celular'].dirty || form.controls['celular'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="form.controls['celular'].errors">
                        El celular es requerido
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="lastName">Dirección</label><br />
                <input class="form-control" type="text" name="lastName" id="lastName"
                    formControlName="direccion_domicilio" />
                <div *ngIf="form.controls['direccion_domicilio'].invalid && (form.controls['direccion_domicilio'].dirty || form.controls['direccion_domicilio'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="form.controls['direccion_domicilio'].errors">
                        La dirección es requerido
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <button *ngIf="forSave == false" type="button" [disabled]="!form.valid" class="btn btn-primary m-2" (click)="save()">
                Guardar
            </button>
            <button *ngIf="forSave == true" type="button" [disabled]="!form.valid" class="btn btn-primary m-2" (click)="update()">
                Actualizar
            </button>
            <button type="button" class="btn btn-danger m-2" (click)="back()">
                Cancelar
            </button>
        </div>

    </form>
</div>