<div class="row p-5">
    <div class="row">
        <h1>Lista de personal juridico</h1>
    </div>

    <div class="row">
        <div class="col-md-3 mb-3">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" (change)="search()"
                    (keyup)="keyupChange()">
                <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
            </form>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">nombres</th>
                        <th scope="col">Carnet de Identidad</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Dirección</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of personas; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{persona['nombres']}} {{persona['primer_apellido']}} {{persona['segundo_apellido']}}</td>
                        <td>{{persona['nro_documento_identidad']}}</td>
                        <td>{{persona['celular']}}</td>
                        <td>{{persona['direccion_domicilio']}}</td>
                        <td>
                            <div class="d-flex">
                                <a class="m-1" [routerLink]="['/agregarPJ/',persona['id']]">Editar</a>
                                <a class="m-1" (click)="delete(persona['id'])">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex">
            <select class="form-select" aria-label="Default select example"
                style="width: 4.3rem; height: 2rem; margin-right: 1rem;"
                [(ngModel)]="sizeSelected"
                [ngModelOptions]="{standalone: true}"
                (change)="expantList()">
                <option selected [value]="5">5</option>
                <option  [value]="10">10</option>
                <option [value]="20">20</option>
            </select>
            <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
        </div>
    </div>
</div>